/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section-title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section-title span {
  color: var(--second-color);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

.button {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background: var(--first-color);
  padding: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

/* === DROPDOWN === */

.select-menu {
  width: 12.5rem;
}

.select-menu .select-btn{
  display: flex;
  height: 3rem;
  background: transparent;
  padding: 0.65rem;
  font-size: var(--normal-font-size);
  font-weight: 500;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  color: var(--body-color);
  background: transparent;
  border-bottom: 2px solid var(--border-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.section-btn {
  border-radius: .5rem .5rem 0 0;
  border-bottom: 2px solid var(--border-color);
 }

.select-btn i {
  font-size: 1.25rem;
}

.select-menu.active .select-btn i{
  transform: rotate(180deg);
  transition: 0.3s;
}

.select-menu .options {
  position: fixed;
  padding: .5rem;
  margin-top: .5rem;
  background:rgba(20, 20, 20, 0.25);
  border-radius: .5rem;
  color: var(--border-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.select-menu.active .options{
  display: block;
}

.options .option {
  display: flex;
  height: 3rem;
  cursor: pointer;
  padding: 0 1rem;
  margin-bottom: .5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.options .option:hover {
  border-bottom: 2px solid var(--first-color);
}

.option i {
  font-size: 2rem;
}